html {
  scroll-behavior: smooth;
}
.App {
  position: relative;
  width: 100%;
  height: 8204px;

  background: #110620;
}
@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
.header,
.about-us,
.road-map,
.team {
  width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;
  position: relative;
  z-index: 10;
}
a {
  text-decoration: none !important;
}
.random-dot {
  width: 1px !important;
  height: 1px !important;
  border-radius: 50%;
  position: absolute;
}

.random-dot-1 {
  background-color: rgb(212, 212, 212);
}

.random-dot-2 {
  background-color: rgb(128, 128, 128);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(211, 28%, 20%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.4)
  );
}

.road-map-line {
  width: 3px;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.33),
    rgba(255, 255, 255, 0.33)
  );
  opacity: 0.65;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transform: rotate(-0.02deg);
}
.road-map-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.road-map-circle2 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: cornflowerblue;
}
